flows/HollywoodfortheHolidays-12.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>on the left are the fields in the new opportunity you want to create. On the right are values you are assigning to the opp fields.</description>
        <name>Assignment_1</name>
        <label>Assignment 1</label>
        <locationX>576</locationX>
        <locationY>230</locationY>
        <assignmentItems>
            <assignToReference>sObjLoopVarOpp.Celebrity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjLoopVarCeleb.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjLoopVarOpp.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjLoopVarOpp.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjLoopVarCeleb.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjLoopVarOpp.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjLoopVarOpp.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the new opportunity to a new collection of opps.</description>
        <name>Assignment_2</name>
        <label>Assignment 2</label>
        <locationX>472</locationX>
        <locationY>379</locationY>
        <assignmentItems>
            <assignToReference>sObjCollectionVarOpp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sObjLoopVarOpp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <description>Create opportunities based on the celebrities available for a certain holiday. Launched by process builder &quot;Lead Create&quot;</description>
    <formulas>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+60</expression>
    </formulas>
    <formulas>
        <name>OpportunityName</name>
        <dataType>String</dataType>
        <expression>{!FirstNameCustomer} +&quot; Wants to Spend &quot; + {!Holiday} + &quot; with &quot; + {!sObjLoopVarCeleb.Name}</expression>
    </formulas>
    <interviewLabel>HollywoodfortheHolidays {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HollywoodfortheHolidays DemoVersion</label>
    <loops>
        <description>Loop through your collection of celebrities and use the loop variable (SObject Variable) for looking at each record separately.</description>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>353</locationX>
        <locationY>230</locationY>
        <assignNextValueToReference>sObjLoopVarCeleb</assignNextValueToReference>
        <collectionReference>sObjCollectionVarCeleb</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Fast_Create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Woohoo! You finally get to create the opps.</description>
        <name>Fast_Create</name>
        <label>Fast Create</label>
        <locationX>319</locationX>
        <locationY>369</locationY>
        <inputReference>sObjCollectionVarOpp</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get details from the lead and store them in variables. RecordId is passed from the Process builder.</description>
        <name>Lookup_Lead</name>
        <label>Lookup Lead</label>
        <locationX>74</locationX>
        <locationY>232</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookupCelebrities</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>Holiday</assignToReference>
            <field>Holiday__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Interest</assignToReference>
            <field>Interest__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Lookup Celebrities who are confirmed on the correct holiday and for the correct interest. Assign them to an SObjectVariable</description>
        <name>LookupCelebrities</name>
        <label>LookupCelebrities</label>
        <locationX>215</locationX>
        <locationY>234</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filters>
            <field>Holiday__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Holiday</elementReference>
            </value>
        </filters>
        <filters>
            <field>Interest__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Interest</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Celebrity</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>sObjCollectionVarCeleb</outputReference>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <startElementReference>Lookup_Lead</startElementReference>
    <variables>
        <name>FirstNameCustomer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Holiday</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Interest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LastNameCustomer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sObjCollectionVarCeleb</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>sObjCollectionVarOpp</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>variable for the celebrity inside the loop</description>
        <name>sObjLoopVarCeleb</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>the opportunity sObject variable</description>
        <name>sObjLoopVarOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>This variable holds the value of something</description>
        <name>uniqueVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
